.contact-container {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}



.card_contact {
  background-color:var(--card-background);
  /* border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem; */
  border: 2px solid var(--card-header-border); 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
 

}

.card_contact h1{
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--card-header-border);
  text-align: center;
}

.card_contact_details p{
 
 
  color:darkgray;
}

.card_contact_description p {
  color: var(--card-text);
}




input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
   
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical; 
    margin-bottom: 1rem;
}

.submit-button {
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-decoration: none;
  background-color: blue;
  border-radius: 1rem;
  
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid blue;
  transition: background-color 0.3s;

  float: right;


}

.submit-button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}