.card {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;

}



.card_left {
  max-width: 260px; 
  max-height: 400px;
  overflow: hidden;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-left: 2px solid var(--card-header-border);
  border-top: 2px solid var(--card-header-border); 
  border-bottom: 2px solid var(--card-header-border); 


 
}

.card_left img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;  
  height: 100%; 
  object-fit: cover; 
  /* border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem; */
}



.card_right {
  background-color:var(--card-background);
  /* border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem; */
  border: 2px solid var(--card-header-border); 
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;

}

.card_right h1{
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--card-header-border);
  
}

.card_details p{

  color:darkgray;
}

.card_description p {
  color: var(--card-text);
}

.trailer_button {
  width: fit-content;
}

.trailer_button a{
  padding-top: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--links-color);
  text-decoration: none;
}

.trailer_button a:hover{

  color: var(--card-text);
  text-decoration: none;
}

.card_timetable ul {
  list-style-type: none;
  padding-left: 0; /* Remove padding from the list */
}

.card_timetable li {
  color: var(--card-text);
  padding: 10px 0; /* Add vertical padding to space items apart */
  border-bottom: 1px solid black; /* Add a line underneath */
  margin-bottom: 5px; /* Add margin for more spacing after the line */
}

.card_timetable li:last-child {
  border-bottom: none; /* Remove the border from the last item */
}


.buy_button button {
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-decoration: none;
  background-color: blue;
  border-radius: 1rem;
  align-self: flex-end;
  float: right;
  border: 1px solid blue;
  transition: background-color 0.3s;
}


.buy_button button:hover{
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-decoration: none;
}
