.heading {
  color: var(--headings-color);
  font-size: 8rem;
  font-family:Arial;
  margin:0;
  padding: 0;
  line-height: 0.9; 
  -webkit-text-stroke: 2px black; 
}



.nav-container {
  background-color:var(--second-color);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;  
  border-bottom: 2px solid var(--card-header-border); 
  
  

}

.links-container {
  margin-right: 0.5rem;
}

/* Now playing, Contact, About */
.nav-container a {
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--links-color);
  text-decoration: none;
  padding: 0.5rem;
}

.nav-container a:hover{
  color:white;
  background-color: black;
  
}



