:root {
  --main-bg-color:  honeydew;
  --second-color: honeydew;
  --headings-color: white;
  --links-color: blue;
  --card-header-border: black;
  --card-text: black;
  --card-background: white;
  --footer-background: black;

  /* --main-bg-color: honeydew; --main-bg-color: springgreen; */
}


.main {
  background-color: var(--main-bg-color);
  margin:0;
}


.layout-container {
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.2fr;
  grid-template-columns: 1fr;
  margin:0;
  background-color:var(--second-color);
}
